aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiolimiter==1.2.1
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
anytree==2.13.0
asttokens==2.4.1
async-timeout==5.0.1
attrs==25.4.0
autograd==1.8.0
azure-common==1.1.28
azure-core==1.38.2
azure-cosmos==4.15.0
azure-identity==1.25.2
azure-search-documents==11.6.0
azure-storage-blob==12.28.0
backports-datetime-fromisoformat==2.0.3
backports.tarfile==1.2.0
beartype==0.18.5
blis==1.3.3
build==1.4.0
CacheControl==0.14.4
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cleo==2.1.0
click==8.3.1
cloudpathlib==0.23.0
confection==0.1.5
contourpy==1.3.2
crashtest==0.4.1
cryptography==46.0.5
cycler==0.12.1
cymem==2.0.13
deprecation==2.1.0
devtools==0.12.2
distlib==0.4.0
distro==1.9.0
dulwich==1.1.0
environs==14.6.0
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
fastmcp==0.2.0
fastuuid==0.14.0
filelock==3.25.1
findpython==0.7.1
fnllm==0.4.1
fonttools==4.62.0
frozenlist==1.8.0
fsspec==2026.2.0
future==1.0.0
gensim==4.4.0
graphrag==2.7.1
graspologic==3.4.4
graspologic-native==1.2.5
grpcio==1.78.0
h11==0.16.0
h2==4.3.0
hf-xet==1.3.2
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.6.0
hyperframe==6.1.0
hyppo==0.5.2
idna==3.11
importlib_metadata==8.7.1
installer==0.7.0
isodate==0.7.2
jaraco.classes==3.4.0
jaraco.context==6.1.1
jaraco.functools==4.4.0
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
json_repair==0.58.5
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.5.0
lance-namespace==0.5.2
lance-namespace-urllib3-client==0.5.2
lancedb==0.29.2
litellm==1.82.1
llvmlite==0.46.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.2.2
matplotlib==3.10.8
mcp==1.26.0
mdurl==0.1.2
more-itertools==10.8.0
msal==1.35.1
msal-extensions==1.3.1
msgpack==1.1.2
multidict==6.7.1
murmurhash==1.0.15
neo4j==6.1.0
networkx==3.4.2
nltk==3.9.1
numba==0.64.0
numpy==1.26.4
openai==2.26.0
overrides==7.7.0
packaging==26.0
pandas==2.3.3
patsy==1.0.2
pbs-installer==2026.3.10
pillow==12.1.1
pkginfo==1.12.1.2
platformdirs==4.9.4
poetry==2.3.2
poetry-core==2.3.1
portalocker==3.2.0
POT==0.9.6.post1
preshed==3.0.12
propcache==0.4.1
protobuf==7.34.0
pyarrow==23.0.1
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.11.0
pynndescent==0.6.0
pyparsing==3.3.2
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-discovery==1.1.3
python-dotenv==1.2.2
python-multipart==0.0.22
pytz==2026.1.post1
PyYAML==6.0.3
qdrant-client==1.17.0
rank-bm25==0.2.2
RapidFuzz==3.14.3
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.3.3
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
SecretStorage==3.5.0
shellingham==1.5.4
six==1.17.0
smart_open==7.5.1
sniffio==1.3.1
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
sse-starlette==3.0.3
starlette==0.37.2
statsmodels==0.14.6
style==1.1.0
tenacity==9.1.4
textblob==0.19.0
thinc==8.3.10
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
tomli==2.4.0
tomlkit==0.14.0
tqdm==4.67.3
trove-classifiers==2026.1.14.14
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
umap-learn==0.5.11
update==0.0.1
urllib3==2.6.3
uv==0.10.9
uvicorn==0.41.0
virtualenv==21.2.0
wasabi==1.1.3
weasel==0.4.3
wrapt==2.1.2
yarl==1.23.0
zipp==3.23.0
zstandard==0.25.0
